{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "corejs": { "version": "3.10", "proposals": true },
                "useBuiltIns": "usage",
                "targets": "last 2 version"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-strict-mode",
        "@babel/proposal-object-rest-spread",
        "@babel/proposal-class-properties"
    ]
}
