{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "corejs": { "version": "3.39", "proposals": true },
                "useBuiltIns": "usage",
                "targets": "last 2 version, not dead"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-class-properties",
        "@babel/plugin-transform-object-rest-spread",
        "@babel/plugin-transform-strict-mode"
    ]
}
