<button class="btn btn-primary" ng-click="noteCtrl.save()">Sauvegarder</button>
<span class="label label-warning pull-right" ng-show="noteCtrl.isSaving">Sauvegarde en cours</span>
<span class="label label-danger pull-right" 
    ng-show="noteCtrl.dirty && !noteCtrl.isSaving">
    Modifications non enregistrées</span>
<br><br>
<textarea 
    class="form-control" 
    id="note_content"
    style="overflow:hidden;"
    ng-model="noteCtrl.content" 
    ng-change="noteCtrl.deferSave()"
    ng-style="{'height': noteCtrl.scrollHeight()}">
</textarea>
</div>
