div.container {
    padding-left:8px;
    padding-right:8px;
}

body > div.container {
    margin-bottom: 80px;
}

/* note_edit */

#note_edit_form > #note_content {
    overflow: hidden;
    border-radius: 2px;
    padding: 3px 3px;
    box-shadow: none;
    transition: none;
}


/* todo_app */

#todo_app .striked {
    text-decoration: line-through;
}

#todo_app .list-group-item .item-checkbox {
    /* Cancel padding of list-group-item in order to make the whole area
       around the checkbox clickable (and not only the checkbox itself) */
    cursor: pointer;
    padding: 14px 15px;
    margin: -11px 0px -11px -15px;
}

#todo_app .list-group-item .item-trash {
    /* Same idea as for item-checkbox */
    cursor: pointer;
    padding: 14px 15px;
    margin: -11px -15px -11px 0px;
}

@media (min-width: 720px) {
    /* Hide trash by default on desktops */
    #todo_app .list-group-item:not(:hover) .item-trash {
        display: none;
    }
}

#todo_app .todo-item p {
    display: inline-block;
    margin: 0px;
}

#todo_app .todo-item form {
    display: inline;
    /*position: absolute;*/
    /*left: 45px;*/
}

#todo_app .todo-item input {
    padding: 0px;
    /*width: 100%;*/
    width: calc(100% - 30px);
}
