
body > div.container {
    padding-left:8px;
    padding-right:8px;

    margin-bottom: 80px;
}

/* note_edit */

#note_edit_form > #note_content {
    overflow: hidden;
    border-radius: 2px;
    padding: 3px 3px;
    box-shadow: none;
    transition: none;
}


/* todo_app */

#todo_app .striked {
    text-decoration: line-through;
}

#todo_app .list-group-item .item-checkbox {
    /* Cancel padding of list-group-item in order to make the whole area
       around the checkbox clickable (and not only the checkbox itself) */
    cursor: pointer;
    padding: 14px 15px 14px 7px;
    margin: -11px 0px -11px -9px;
}

#todo_app .drag-handle {
    /* Same idea as for item-checkbox */
    cursor: move;
    height: 20px;
    margin: -11px 8px -10px -15px;
    padding: 12px 3px 30px 7px;
    display: inline-block;
}

#todo_app .drag-handle img {
    height: 20px;
    width: 20px;
    opacity: 0.6;
}

#todo_app .list-group-item .item-trash {
    /* Same idea as for item-checkbox */
    cursor: pointer;
    padding: 14px 15px;
    margin: -11px -15px -11px 0px;
}

@media (min-width: 720px) {
    /* Hide some icons by default on desktops */
    #todo_app .list-group-item:not(:hover) .item-trash,
    #todo_app .list-group-item:not(:hover) .drag-handle {
        visibility: hidden;
    }
}

#todo_app .todo-item.sortable-ghost {
    background-color: #DDD;
}

#todo_app .todo-item p {
    display: inline-block;
    margin: 0px;

    /* Break very long word if needed */
    overflow-wrap: break-word;
    word-break: break-word; /* non-standard but works in chrome */
}

#todo_app .todo-item form {
    display: inline;
    /*position: absolute;*/
    /*left: 45px;*/
}

#todo_app .todo-item input {
    padding: 0px;
    /*width: 100%;*/
    width: calc(100% - 50px);
}
