from pathlib import Path as _Path

_current_dir = _Path(__file__).parent

# Generate a password hash with the following command
# python -c 'import passlib.hash, getpass; print(passlib.hash.bcrypt.hash(getpass.getpass(), rounds=12))'
# Sample password is 'testtest'
PASSWORD_HASH = '$2b$12$j9KcLR9nuAbPUz3XkgQaauWr2kkFvl0KnlJJF1IReoJ7dyQE0wbWO'

NOTES_DIR = _current_dir / 'notes'
SESSION_DIR = _current_dir / 'session'
DEVMODE = False

LISTEN_IP = '127.0.0.1'
LISTEN_PORT = 8080
## Use 'wsgiref' in dev (for working autoreload), and 'gunicorn' in prod
WSGI_SERVER = 'gunicorn'
